<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.RecordMapper">
    <insert id="addRecord" parameterType="com.yang.pojo.Record">
        insert into record(username, photo, rating, description, score) values(#{username}, #{photo}, #{rating}, #{description},#{score})
    </insert>
    <delete id="deleteRecord" parameterType="int">
        delete from record where id = #{id}
    </delete>
    <select id="getAllRecordByPage" resultType="com.yang.pojo.Record">
        select * from record order by score desc
    </select>
    <select id="getByName" resultType="com.yang.pojo.Record">
        select * from record where username = #{username}
    </select>
    <select id="getAllRecord" resultType="com.yang.pojo.Record">
        select * from record
    </select>
</mapper>
